mixin s-tags()
    .tags.aside__item
        h4.section__header Tags
        span.tag Fashon
        span.tag Racipe
        span.tag DIY
        span.tag Lifestyle
        span.tag Music
        span.tag Art
        span.tag Travel