mixin s-posts-blocks()
    .others__posts
        article.post__half
            img(src='/img/article/small/food.jpg', alt='food')
            .section Food
            h3 Memories of Milano
            p
                | Ad pri posse falli veritus. Sea ut suas habemus erroribus, idque dicat erant eu duo, ne his tractatos accommodare mediocritatem. Id mundi deserunt praesent est, tempor salutandi definitionem quo ea, eum nemore partiendo eu.
            a(href='/') Read More
            span.post_date April 21, 2017
        article.post__half
            img(src='/img/article/small/nature.jpg', alt='nature')
            .section Food
            h3 Cafe find: las vecinas eco-bar
            p
                | Ad pri posse falli veritus. Sea ut suas habemus erroribus, idque dicat erant eu duo, ne his tractatos accommodare mediocritatem. Id mundi deserunt praesent est, tempor salutandi definitionem quo ea, eum nemore partiendo eu.
            a(href='/') Read More
            span.post_date April 21, 2017
        article.post__half
            img(src='/img/article/small/street.jpg', alt='street')
            .section Art
            h3 Palais de Tokyo Paris
            p
                | Ad pri posse falli veritus. Sea ut suas habemus erroribus, idque dicat erant eu duo, ne his tractatos accommodare mediocritatem. Id mundi deserunt praesent est, tempor salutandi definitionem quo ea, eum nemore partiendo eu.
            a(href='/') Read More
            span.post_date April 21, 2017
        article.post__half
            img(src='/img/article/small/music.jpg', alt='music')
            h3 November soundcloud playlist
            .section Music
            p
                | Ad pri posse falli veritus. Sea ut suas habemus erroribus, idque dicat erant eu duo, ne his tractatos accommodare mediocritatem. Id mundi deserunt praesent est, tempor salutandi definitionem quo ea, eum nemore partiendo eu.
            a(href='/') Read More
            span.post_date April 21, 2017