mixin s-posts-blocks()
    .others__posts
        article.post__half
            img(src='{!sPosts2.PostsBlocks.0.PostsBlockImage!}', alt='{!sPosts2.PostsBlocks.0.PostsBlockImageDesc!}')
            .section {!sPosts2.PostsBlocks.0.PostsBlockSection!}
            h3 {!sPosts2.PostsBlocks.0.PostsBlockTitle!}
            p {!sPosts2.PostsBlocks.0.PostsBlockText.0!}
            a(href='{!sPosts2.PostsBlocks.0.PostsBlockLink!}') Read More
            span.post_date {!sPosts2.PostsBlocks.0.PostsBlockDate!}
        article.post__half
            img(src='{!sPosts2.PostsBlocks.1.PostsBlockImage!}', alt='{!sPosts2.PostsBlocks.1.PostsBlockImageDesc!}')
            .section {!sPosts2.PostsBlocks.1.PostsBlockSection!}
            h3 {!sPosts2.PostsBlocks.1.PostsBlockTitle!}
            p {!sPosts2.PostsBlocks.1.PostsBlockText.0!}
            a(href='{!sPosts2.PostsBlocks.1.PostsBlockLink!}') Read More
            span.post_date {!sPosts2.PostsBlocks.0.PostsBlockDate!}
        article.post__half
            img(src='{!sPosts2.PostsBlocks.2.PostsBlockImage!}', alt='{!sPosts2.PostsBlocks.0.PostsBlockImageDesc!}')
            .section {!sPosts2.PostsBlocks.2.PostsBlockSection!}
            h3 {!sPosts2.PostsBlocks.2.PostsBlockTitle!}
            p {!sPosts2.PostsBlocks.2.PostsBlockText.0!}
            a(href='{!sPosts2.PostsBlocks.2.PostsBlockLink!}') Read More
            span.post_date {!sPosts2.PostsBlocks.2.PostsBlockDate!}
        article.post__half
            img(src='{!sPosts2.PostsBlocks.3.PostsBlockImage!}', alt='{!sPosts2.PostsBlocks.0.PostsBlockImageDesc!}')
            .section {!sPosts2.PostsBlocks.3.PostsBlockSection!}
            h3 {!sPosts2.PostsBlocks.3.PostsBlockTitle!}
            p {!sPosts2.PostsBlocks.3.PostsBlockText.0!}
            a(href='{!sPosts2.PostsBlocks.3.PostsBlockLink!}') Read More
            span.post_date {!sPosts2.PostsBlocks.3.PostsBlockDate!}