mixin s-posts-wall()
    .main__posts
        article.post
            span.section {!sPostsWall.PostsBlocks.0.PostsBlockSection!}
            h2 {!sPostsWall.PostsBlocks.0.PostsBlockTitle!}
            span.post_date {!sPostsWall.PostsBlocks.0.PostsBlockDate!}
            img(src='{!sPostsWall.PostsBlocks.0.PostsBlockImage!}', alt='{!sPostsWall.PostsBlocks.0.PostsBlockImageDesc!}')
            div
                p {!sPostsWall.PostsBlocks.0.PostsBlockText.0!}
                p {!sPostsWall.PostsBlocks.0.PostsBlockText.1!}
            a(href='{!sPostsWall.PostsBlocks.0.PostsBlockLink!}') Continue Reading
            .socials__article
                span Share it on
        article.post
            span.section {!sPostsWall.PostsBlocks.1.PostsBlockSection!}
            h2 {!sPostsWall.PostsBlocks.1.PostsBlockTitle!}
            span.post_date {!sPostsWall.PostsBlocks.1.PostsBlockDate!}
            img(src='{!sPostsWall.PostsBlocks.1.PostsBlockImage!}', alt='{!sPostsWall.PostsBlocks.1.PostsBlockImageDesc!}')
            div
                p {!sPostsWall.PostsBlocks.1.PostsBlockText.0!}
                p {!sPostsWall.PostsBlocks.1.PostsBlockText.1!}
            a(href='{!sPostsWall.PostsBlocks.1.PostsBlockLink!}') Continue Reading
            .socials__article
                span Share it on