mixin s-posts-wall()
    .main__posts
        article.post
            span.section Lifestyle
            h2 How to build a garden in your apartment
            span.post_date April 21, 2017
            img(src='/img/posts/flowers.jpg', alt='flowers')
            p
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
            p
                | Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
            a(href='/') Continue Reading
            .socials__article
                span Share it on
        article.post
            span.section Travel
            h2 Lidkoeb - interior design of the month
            span.post_date April 21, 2017
            img(src='/img/posts/cafe.jpg', alt='cafe')
            p
                | Lorem ipsum dolor sit amet, mel omnes aeterno ut, dicant eligendi quaerendum et vis, eum solet comprehensam te. Vel et mazim feugiat complectitur, no quo dolor contentiones, oratio decore facilisis vel at. Ut eum augue verear dolorum. Veniam debitis suscipit cu duo, sit wisi vocibus iracundia ex. Vel complectitur intellegebat ei, commodo inermis per at. Stet elitr explicari vim eu. Habeo efficiendi eos an, sensibus imperdiet sit et, ad ignota aperiam perpetua pri. Purto meis vitae sea eu, omnes possim pri in. Sit summo audire ea, ex per eligendi senserit, modus consequat ut has. Quo antiopam accommodare id, his et sale urbanitas scribentur, no has brute audiam.
            p
                | Ad pri posse falli veritus. Sea ut suas habemus erroribus, idque dicat erant eu duo, ne his tractatos accommodare mediocritatem. Id mundi deserunt praesent est, tempor salutandi definitionem quo ea, eum nemore partiendo eu. Cu pro utinam fabulas. Eum ut nostrud periculis referrentur, partem populo posidonium eu mel, vis in detracto laboramus.
            a(href='/') Continue Reading
            .socials__article
                span Share it on