mixin s-latest-posts-aside()
    .latest_posts.aside__item
        h4.section__header Latest Posts
        article.latest_post
            img.latest_post__image(src='/img/latest_posts/small/music.jpg', alt='music')
            .latest_post__text
                strong Moxine Headphone by Andy Meerow
                i.post_date November 16, 2015
        article.latest_post
            img.latest_post__image(src='/img/latest_posts/small/typography.jpg', alt='typography')
            .latest_post__text
                strong Amazing typography collection
                i.post_date November 16, 2015
        article.latest_post
            img.latest_post__image(src='/img/latest_posts/small/food.jpg', alt='food')
            .latest_post__text
                strong 5 best Moroccan Racipe
                i.post_date November 16, 2015
        article.latest_post
            img.latest_post__image(src='/img/latest_posts/small/phone.jpg', alt='phone')
            .latest_post__text
                strong What to expect from iPhone 7
                i.post_date November 16, 2015