mixin s-latest-posts-aside()
    .latest_posts.aside__item
        h4.section__header {!sLatestPostsAside.LatestPostsTitle!}
        article.latest_post
            img.latest_post__image(src='{!sLatestPostsAside.LatestPostsBlocks.0.LatestPostsBlockImage!}',
                alt='{!sLatestPostsAside.LatestPostsBlocks.0.LatestPostsBlockImageDesc!}')
            .latest_post__text
                strong {!sLatestPostsAside.LatestPostsBlocks.0.LatestPostsBlockTitle!}
                i.post_date {!sLatestPostsAside.LatestPostsBlocks.0.LatestPostsBlockDate!}
        article.latest_post
            img.latest_post__image(src='{!sLatestPostsAside.LatestPostsBlocks.1.LatestPostsBlockImage!}',
            alt='{!sLatestPostsAside.LatestPostsBlocks.1.LatestPostsBlockImageDesc!}')
            .latest_post__text
                strong {!sLatestPostsAside.LatestPostsBlocks.1.LatestPostsBlockTitle!}
                i.post_date {!sLatestPostsAside.LatestPostsBlocks.1.LatestPostsBlockDate!}
        article.latest_post
            img.latest_post__image(src='{!sLatestPostsAside.LatestPostsBlocks.2.LatestPostsBlockImage!}',
            alt='{!sLatestPostsAside.LatestPostsBlocks.2.LatestPostsBlockImageDesc!}')
            .latest_post__text
                strong {!sLatestPostsAside.LatestPostsBlocks.2.LatestPostsBlockTitle!}
                i.post_date {!sLatestPostsAside.LatestPostsBlocks.2.LatestPostsBlockDate!}
        article.latest_post
            img.latest_post__image(src='{!sLatestPostsAside.LatestPostsBlocks.3.LatestPostsBlockImage!}',
            alt='{!sLatestPostsAside.LatestPostsBlocks.3.LatestPostsBlockImageDesc!}')
            .latest_post__text
                strong {!sLatestPostsAside.LatestPostsBlocks.3.LatestPostsBlockTitle!}
                i.post_date {!sLatestPostsAside.LatestPostsBlocks.3.LatestPostsBlockDate!}