.texts(v-cloak)
    transition-group(name='fade-up', target='div', appear='', @click.native='navigate($event); alerts($event);')
        div(v-for='(tab, key, index) in admindata', v-if="show == index", :key='index')
            div.row
                .col.s12
                    h5 {{ key.match(/[A-Z]+[^A-Z]*|[^A-Z]+/g).filter(function(item, index){ return index > 0}).join(' ') }}
                ul
                    li(v-for='(tabItem, tabKey) in tab')
                        div.row(v-if="typeof tabItem === 'string'")
                            .col.s12
                                strong {{ tabKey.match(/[A-Z]+[^A-Z]*|[^A-Z]+/g).join(' ') }}
                                input(v-model="tab[tabKey]")
                        div(v-if="typeof tabItem === 'object'")
                            .row
                                .col.s12
                                    strong {{ tabKey.match(/[A-Z]+[^A-Z]*|[^A-Z]+/g).join(' ') }}
                            .row.list(v-for='data in tabItem')
                                .col.s6(v-for='(item, datakey) in data')
                                    strong {{ datakey.match(/[A-Z]+[^A-Z]*|[^A-Z]+/g).join(' ') }}
                                    input(v-model="data[datakey]")
