mixin s-about-me-aside()
    .aside__about.aside__item
        h4.section__header About me
        img(src='/img/about/about.jpg', alt='girl')
        p
            | Ever since I was a little girl I have been deeply passionate about food. My childhood was largely spent scurrying between the restaurants of Hong Kong, where I grew up,
        a.link(href='/') Read more