mixin s-about-me-aside()
    .aside__about.aside__item
        h4.section__header {!sAboutMeAside.AboutMeAsideTitle!}
        img(src='{!sAboutMeAside.AboutMeAsideImage!}', alt='{!sAboutMeAside.AboutMeAsideImageDesc!}')
        p {!sAboutMeAside.AboutMeAsideSmallDesc!}
        a.link(href='{!sAboutMeAside.AboutMeAsideBtnLink!}') {!sAboutMeAside.AboutMeAsideBtn!}