mixin s-instagram()
    section.instagram_section
        a(href='/')
            ul.instagram__items
                li.instagram__item
                    img.instagram__image(src='/img/instagram/1.jpg', alt='instagram image 1')
                li.instagram__item
                    img.instagram__image(src='/img/instagram/2.jpg', alt='instagram image 2')
                li.instagram__item
                    img.instagram__image(src='/img/instagram/3.jpg', alt='instagram image 3')
                li.instagram__item
                    img.instagram__image(src='/img/instagram/4.jpg', alt='instagram image 4')
                li.instagram__item
                    img.instagram__image(src='/img/instagram/5.jpg', alt='instagram image 5')
                li.instagram__item
                    img.instagram__image(src='/img/instagram/6.jpg', alt='instagram image 6')
            span.instagram__text Follow us on instagram