mixin s-latest-posts()
    section.posts
        h6.posts__header {!sLatestPosts.LatestPostsTitle!}
        .posts__items
            a.posts__item(href='{!sLatestPosts.LatestPostsBlocks.0.LatestPostsBlockLink!}')
                img(src='{!sLatestPosts.LatestPostsBlocks.0.LatestPostsBlockImage!}', alt='{!sLatestPosts.LatestPostsBlocks.0.LatestPostsBlockImageDesc!}')
                .posts__text
                    p.section {!sLatestPosts.LatestPostsBlocks.0.LatestPostsBlockSection!}
                    h3 {!sLatestPosts.LatestPostsBlocks.0.LatestPostsBlockTitle!}
                    p.post_date {!sLatestPosts.LatestPostsBlocks.0.LatestPostsBlockDate!}
            a.posts__item(href='{!sLatestPosts.LatestPostsBlocks.1.LatestPostsBlockLink!}')
                img(src='{!sLatestPosts.LatestPostsBlocks.1.LatestPostsBlockImage!}', alt='{!sLatestPosts.LatestPostsBlocks.1.LatestPostsBlockImageDesc!}')
                .posts__text
                    p.section {!sLatestPosts.LatestPostsBlocks.1.LatestPostsBlockSection!}
                    h3 {!sLatestPosts.LatestPostsBlocks.1.LatestPostsBlockTitle!}
                    p.post_date {!sLatestPosts.LatestPostsBlocks.1.LatestPostsBlockDate!}
            a.posts__item(href='{!sLatestPosts.LatestPostsBlocks.2.LatestPostsBlockLink!}')
                img(src='{!sLatestPosts.LatestPostsBlocks.2.LatestPostsBlockImage!}', alt='{!sLatestPosts.LatestPostsBlocks.1.LatestPostsBlockImageDesc!}')
                .posts__text
                    p.section {!sLatestPosts.LatestPostsBlocks.2.LatestPostsBlockSection!}
                    h3 {!sLatestPosts.LatestPostsBlocks.2.LatestPostsBlockTitle!}
                    p.post_date {!sLatestPosts.LatestPostsBlocks.2.LatestPostsBlockDate!}