mixin s-latest-posts()
    section.posts
        h6.posts__header Latest Posts
        .posts__items
            a.posts__item(href='/')
                img(src='/img/latest_posts/food.jpg', alt='food')
                .posts__text
                    p.section Food
                    h3 Top 5 mushroom racipes
                    p.post_date April 21, 2017
            a.posts__item(href='/')
                img(src='/img/latest_posts/travel.jpg', alt='travel')
                .posts__text
                    p.section Travel
                    h3 Oldest Arcitecture in NYC
                    p.post_date April 21, 2017
            a.posts__item(href='/')
                img(src='/img/latest_posts/design.jpg', alt='design')
                .posts__text
                    p.section Design
                    h3 How to build a BRAND
                    p.post_date April 21, 2017