include ./../components/head/head

doctype html
html
    +head()
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css', rel='stylesheet')
    body
        #admin.admin__wrapper
            aside.aside
                ul.aside-menu#nav-mobile.sidenav.sidenav-fixed
                    li.aside-menu__logo.aside-menu__item
                        .logo-border
                            span Crabapple
                    li.aside-menu__item
                        router-link.aside-menu__link(to="/admin/pages") Pages
            main
                router-view
        script(src="/js/admin.js")