mixin s-subscribe()
    .aside__follow.aside__item
        h4.section__header Subscribe & Follow
        ul.socials__items.aside__socials
            li.socials__item
                a.socials__link(href='/')
                    span.socials__icon
                        svg.socials__image(width='18', height='18')
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#facebook')
            li.socials__item
                a.socials__link(href='/')
                    span.socials__icon
                        svg.socials__image(width='18', height='18')
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#twitter')
            li.socials__item
                a.socials__link(href='/')
                    span.socials__icon
                        svg.socials__image(width='18', height='18')
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#tumblr')
            li.socials__item
                a.socials__link(href='/')
                    span.socials__icon
                        svg.socials__image(width='18', height='18')
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#googlePlus')
            li.socials__item
                a.socials__link(href='/')
                    span.socials__icon
                        svg.socials__image(width='18', height='18')
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#rss')